<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs') %>
    <div class="white-bg">
    <% for(let i = 0; i<postlist.length; i++){%>
    <div class="list-box">
      <h4><a href="/detail/<%=postlist[i]._id%>"><%= postlist[i].title%></a></h4>
      <p><%= postlist[i].content%></p>
    </div>
    <%}%>
    
  </div>
  
  <button><a href="/write">글쓰기</a></button>
  </body>
</html>
